@import "../../constants/styles";
@import "../../constants/overlay";

.MouseTip {
  @extend %overlay;
  @extend %word-wrap;

  max-width: 215px;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 3px;
  border-width: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}
