@import "../../constants/styles";
@import "../../constants/overlay";
@import "../../constants/popup";

.AnnotationToolsOverlay {
  @extend %overlay;
  width: auto;
  top: 20px;
  left: 50%;
  margin-left: calc(-#{$right-panel-width} / 2 - 75px);
  padding: 0;
  border-radius: 5px;
  background: #2c2b3a;
  border-color: #555555;
  color: #f4f4f4;

  @include mobile {
    top: calc(#{$panel-height} + 20px);
    left: calc(50% - 70px);
    margin: 0;
  }

  .Button {
    height: $popup-button-height;

    @include mobile {
      height: $popup-button-height;
    }

    .Icon {
      color: #f4f4f4;
      width: $popup-icon-width;
      height: $popup-icon-height;

      @include mobile {
        width: $popup-icon-width;
        height: $popup-icon-height;
      }
    }

    &:hover:not(.disable) {
      background: #686880;
    }

    &.active:not(.disable) {
      background: #686880;

      .Icon {
        color: #ffffff;
      }
    }

    &.down-arrow:after {
      border-top: 6px solid #ffffff;
    }
  }
}
